@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

h1, h2, h3, h4, h5, h6, p{
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
}

body{
	background-color: #2B3238;
}

.title-container{
	margin-bottom: 40px;
	font-weight: 300;
}

input{
	background-color: #2B3238;
	border-width: 0px 0px 1px 0px;
	border-color: #979797;
	color: #f2f2f2;
}

input:focus{
	background-color: #2B3238;
	border-width: 0px 0px 1px 0px;
	border-color: #D401F3;
	outline-color: transparent;
  	outline-style: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-family: 'Roboto', sans-serif;
  	color: #686868;
}
::-moz-placeholder { /* Firefox 19+ */
  	color: #686868;
}
:-ms-input-placeholder { /* IE 10+ */
  	color: #686868;
}
:-moz-placeholder { /* Firefox 18- */
  	color: #686868;
}

.input-label{
	color: #8F8F8F;
	margin-top: 5px;
}



.buttons-container button{
	background-color: #2B3238;
	border: 1px solid #D401F3;
	border-radius: 0.2;
	padding: 3px 12px;
	color: #f2f2f2;
}

.buttons-container button:hover{
	background-color: rgba(43, 135, 158, 0.2);
	border: 1px solid #D401F3;
	border-radius: 0.2;
	padding: 3px 12px;
	color: #f2f2f2;
}


.buttons-container button:focus{
	background-color: rgba(212, 1, 243, 0.7);
	border: 1px solid #D401F3;
	border-radius: 0.2;
	padding: 3px 12px;
	color: #f2f2f2;
	outline: 0;
}


.graphics-container{
	width: 100%;
	height: 1200px;
	position: relative;
}

#scales {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.axis{
	stroke: white;
	opacity: 0.3;
	stroke-width: 1px;
}

.sm-axis{
	stroke: white;
	opacity: 0.6;
	stroke-width: 2px;
}

.hover-sections path {
	fill: #2B879E;
	fill-opacity: 0;
}

.hover-sections path:hover{
	fill-opacity: 0.1;
	transition: fill-opacity .2s ease-out;
	-moz-transition: fill-opacity .2s ease-out;
	-webkit-transition: fill-opacity .2s ease-out;
	-o-transition: fill-opacity .2s ease-out;

}